<a href="https://colab.research.google.com/github/hichem2022/Hichem_Portfolio/blob/main/Data%20Science%20Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Notebook

## Introduction

Welcome to this data science notebook! In this notebook, we will explore various concepts related to data science and practice using different tools and techniques.

## Data Science Languages

- Python
- R
- Julia
- SQL

## Data Science Libraries

- Pandas
- NumPy
- Scikit-learn
- TensorFlow
- Matplotlib
- Seaborn

## Data Science Tools

| Category           | Tools                       |
|--------------------|-----------------------------|
| Programming        | Python, R, Julia, SQL       |
| Data Manipulation  | Pandas, NumPy, Dplyr        |
| Machine Learning   | Scikit-learn, TensorFlow    |
| Visualization      | Matplotlib, Seaborn, Plotly |

## Arithmetic Expression Examples

In the following examples, we'll explore some basic arithmetic operations using numbers.

In [1]:
# Multiplication
result_mul = 5 * 10

# Addition
result_add = 5 + 10

print("Multiplication:", result_mul)
print("Addition:", result_add)

Multiplication: 50
Addition: 15

In [2]:
# Conversion from minutes to hours
minutes = 120
hours = minutes / 60

print("120 minutes =", hours, "hours")

120 minutes = 2.0 hours

## Objectives

- Explore data science languages and libraries
- Perform basic arithmetic operations
- Practice using code and markdown cells
- Learn how to share notebooks on GitHub

## Author

This notebook was created by Ahmed Hichem Ghemari